.grid_container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 50px min-content;
  grid-template-areas: "nav ban ban ban ban"
                       "nav sub1 sub1 sub2 sub2"
                       "nav viz viz sub2 sub2";
}

.grid_container > div {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
}

.details {
  grid-area: sub1;
}

.viz {
  grid-area: viz;
}

.navbar {
  grid-area: nav;
  padding: 0;
  margin: 0;
}

.diagram {
  grid-area: sub2;
  overflow: scroll;
}


.grid_container > .navbar {
  padding: 0;
}

.banner {
  grid-area: ban;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.grid_container > .banner {
  padding: 0;
}
