body {
  padding:0;
  margin:0;
}

.grid_container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 50px min-content;
  grid-template-areas: "nav ban ban ban ban"
                       "nav main main main main";
}

.grid_container > div {
  /* background-color: rgba(255, 255, 255, 0.8); */
  padding: 0px;
}

.main_area {
  grid-area: main;
}

.navbar {
  grid-area: nav;
  padding: 0;
  margin: 0;
  height: 100vh;
  position: fixed;
  overflow: auto;
  width: 150px;
  text-decoration: none;
}



.banner {
  grid-area: ban;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.grid_container > .banner {
  padding: 0;
}

.grid_container > .navbar {
  padding: 0;
}
