{% load static %}
<html>
  <head>
    {% block title %}<title>Main Page</title>{% endblock %}
    {% block styles %}
      <link rel="stylesheet" type="text/css" href="{% static 'Dashboard/main_styles.css' %}">
      <link rel="stylesheet" type="text/css" href="{% static 'Dashboard/main_grid.css' %}">
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{% static 'Dashboard/img/favicon_io/favicon.ico' %}">
    <script src="https://d3js.org/d3.v7.min.js"></script>
    <script type="text/javascript">
      var time_list = JSON.parse("{{time_list|escapejs}}");
      function next() {
        let currentValue = document.getElementById("time").value;
        let index = time_list.indexOf(currentValue);
        index++;
        document.getElementById("time").value = time_list[index];
      }

      function previous() {
        let currentValue = document.getElementById("time").value;
        let index = time_list.indexOf(currentValue);
        index--;
        document.getElementById("time").value = time_list[index];
      }
    </script>
  </head>
  <body>
    <div class="grid_container">
      <div class="navbar">
        <!-- <ul>
          <li class="primary"><a href="#">Overview</a></li>
          <li><a href="#">Devices</a></li>
          <li><a href="#">Alerts</a></li>
          <li><a href="#">Vulnerabilities</a></li>
        </ul> -->
        <div class="overview-group">
          <button class="accordion">Overview</button>
          <a href="/dashboard"><button class="secondary" style="border-bottom: 1px solid black">Network</button></a>
          <a href="/dashboard/table"><button class="secondary">Table</button></a>
        </div>
        <div class="devices-group">
          <button class="accordion">Devices</button>
          {% for src in source_model %}
            <a href="{% url 'device' src.id %}"><button class="secondary">{{ src.ip_address }}</button></a>
          {% endfor %}
        </div>
        <button class="accordion">Alerts</button>
        <button class="accordion">Vulnerabilities</button>
      </div>
      <div class="banner">
        <form action="{{ request.path }}" method="GET">
        {% csrf_token %}
          <button type="button" onclick="previous()"><<</button>
            <input type="text" id="time" name="time" value="{{ current_time }}"/>
          <button type="button" onclick="next()">>></button>
          <input type="submit" value="Go"  />
        </form>
      </div>
      {% block main %}
        <!-- <div class="main_area"></div> -->
      {% endblock %}
    </div>
  </body>
  {% block scripts %}
    <!-- <script type="text/javascript" src="{% static 'Dashboard/js/overview.js' %}"></script>
    <script type="text/javascript">
      console.log("I get called");
      var data = JSON.parse("{{dataset|escapejs}}");
      var dst_ips = JSON.parse("{{destination_ips|escapejs}}");
      var src_ips = JSON.parse("{{source_ips|escapejs}}");
      var unique_ips = JSON.parse("{{unique_ips|escapejs}}");

      loadSwatData(data, dst_ips, src_ips, unique_ips);
    </script> -->
  {% endblock %}
  <script type="text/javascript">
    var acc = document.getElementsByClassName("accordion");
    var i;

    for (i = 0; i < acc.length; i++) {
      acc[i].addEventListener("click", function() {
      /* Toggle between adding and removing the "active" class,
      to highlight the button that controls the panel */
      this.classList.toggle("active");

      /* Toggle between hiding and showing the active panel */
      var panels = this.parentElement.getElementsByClassName("secondary");
      // var panel = this.nextElementSibling;
      for (let j =0; j<panels.length; j++) {
        if (panels[j].style.display === "block") {
            panels[j].style.display = "none";
            panels[j].style.maxHeight = null;
         } else {
           panels[j].style.display = "block";
           panels[j].style.maxHeight = panels[j].scrollHeight + "px";

         }
       }

       });
     }
  </script>



</html>
