{% extends "Dashboard/base_generic.html" %}
{% load static %}

{% block styles %}
  <link rel="stylesheet" type="text/css" href="{% static 'Dashboard/main_styles.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'Dashboard/device_styles.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'Dashboard/device_grid.css' %}">

  <style>
    {% if selected_device.process != "" %}
    .{{ selected_device.process }} {
      stroke: red;
    }
    {% endif %}
  </style>
{% endblock %}

{% block main %}

  <div class="details">
    <h2>{{ selected_device.ip_address }}</h2>
    <table>
      <tr>
        <th>Field</th>
        <th>Details</th>
      </tr>
      <tr>
        <td>Device Type</td>
        <td>{{ selected_device.type }}</td>
      </tr>
      {% for label, value in percent_vals_dict.items %}
        <tr data-json="{{viz_dict[label]}}">
          <td>{{label}}</td>
          <td>{{value}}</td>
        </tr>
      {% endfor %}
    </table>
  </div>
  <div class="diagram">
    <svg width=1000 height=600>
      <rect x=10 y=100 width=160 height=50 class="P1"/>
      <text x=30 y=130>Raw Water Tank</text>
      <line x1=170 y1=125 x2=200 y2=125 />

      <rect x=200 y=100 width=70 height=50 class="P1"/>
      <text x=213 y=130>Pump</text>
      <line x1=270 y1=125 x2=700 y2=125 />

      <rect x=300 y=5 width=70 height=50 class="P2" />
      <text x=315 y=35>HCL</text>
      <line x1=340 y1=55 x2=340 y2=125 />

      <rect x=390 y=5 width=70 height=50 class="P2" />
      <text x=400 y=35>NaOCl</text>
      <line x1=425 y1=55 x2=425 y2=125 />

      <rect x=480 y=5 width=70 height=50 class="P2" />
      <text x=490 y=35>NaCl</text>
      <line x1=515 y1=55 x2=515 y2=125 />

      <rect x=700 y=100 width=160 height=50 class="P2" />
      <text x=730 y=130>Static Mixer</text>
      <line x1=780 y1=150 x2=780 y2=230 />

      <rect x=700 y=230 width=160 height=50 class="P3" />
      <text x=730 y=260>UF Feed Tank</text>
      <line x1=780 y1=280 x2=780 y2=310 />

      <rect x=720 y=310 width=130 height=50 class="P3" />
      <text x=730 y=340>UF Feed Pump</text>
      <line x1=720 y1=340 x2=690 y2=340 />

      <rect x=500 y=310 width=190 height=50 class="P3" />
      <text x=505 y=340>Ultrafiltration Unit (UF)</text>
      <line x1=500 y1=340 x2=470 y2=340 />

      <rect x=340 y=310 width=130 height=50 class="P4" />
      <text x=350 y=340>RO Feed Tank</text>
      <line x1=340 y1=340 x2=310 y2=340 />

      <rect x=180 y=310 width=130 height=50 class="P4" />
      <text x=190 y=340>RO Feed Pump</text>
      <line x1=180 y1=340 x2=150 y2=340 />

      <rect x=0 y=310 width=150 height=50 class="P4" />
      <text x=10 y=340>UV Dechlorinator</text>
      <line x1=75 y1=360 x2=75 y2=450 />

      <rect x=120 y=390 width=100 height=30 class="P4" />
      <text x=140 y=410>NaHSO3</text>
      <line x1=120 y1=405 x2=75 y2=405 />

      <rect x=0 y=450 width=130 height=40 class="P5" />
      <text x=8 y=475>Cartridge Filter</text>
      <line x1=130 y1=470 x2=160 y2=470 />

      <rect x=160 y=450 width=130 height=40 class="P5" />
      <text x=168 y=475>RO Boost Pump</text>
      <line x1=290 y1=470 x2=320 y2=470 />

      <rect x=320 y=450 width=100 height=40 class="P5" />
      <text x=338 y=475>RO Unit</text>
      <line x1=420 y1=470 x2=450 y2=470 />
      <line x1=370 y1=490 x2=370 y2=550 />
      <line x1=370 y1=550 x2=450 y2=550 />

      <rect x=450 y=450 width=170 height=40 class="P6" />
      <text x=463 y=475>UF Backwash Tank</text>
      <line x1=620 y1=470 x2=650 y2=470 />

      <rect x=450 y=530 width=170 height=40 class="P6" />
      <text x=460 y=555>Raw Permeate Tank</text>

      <rect x=650 y=450 width=170 height=40 class="P6" />
      <text x=663 y=475>UF Backwash Pump</text>
      <line x1=735 y1=450 x2=690 y2=360 />
    </svg>

  </div>
{% endblock %}
